.ordersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createNewOrder {
  display: flex;
  align-items: center;
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topOrderSideBar {
  width: 7px;
  height: 50px;
  margin-right: 10px;
}

.topOrderText {
  font-size: 35px;
  font-weight: bold;
  color: #6741a9;
}

.filterSection {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.filterSection2Text {
  font-weight: bold;
  font-size: 17px;
}

.orderFilter {
  justify-content: space-between;
}

.orderFilterInput {
  flex-grow: 1;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  height: 50px;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.orderListField {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 2px;
  border-style: solid;
  border-right-color: #f4f6fa;
  flex-grow: 1;
  padding-left: 15px;
  align-items: flex-end;
  font-size: 14px;
}

.orderList {
  display: flex;
  background-color: white;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.orderListContent {
  color: #6741a9 !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.clearFilter {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-top: auto;
  height: 50px;
  padding-top: 10px;
}
